{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}


<center><code><a href="/blog/feed.xml">
    <svg class="svg-icon orange">
      <use xlink:href="/assets/minima-social-icons.svg#rss"></use>
    </svg><span>Subscribe</span>
  </a></code></center>